<div class="header">
  <h4>About me...</h4>
</div>
<div class="section">
  <p>Howdy! I'm Charles Milam. I am a native <%= link_to("Texian", "http://en.wikipedia.org/wiki/Texians", target: "_blank") %>, raised in Austin, where I currently live.</p>
  <p>I am a recent graduate of <%= link_to("MakerSquare", "http://makersquare.com", target: "_blank") %>, Cohort 10. MakerSquare is a 3 month full-time career accelerator for software developers. By teaching computer science fundamentals and modern web technologies, MakerSquare prepares students to join the workforce as full-stack web developers. We concentrated on <strong>Javascript</strong>, <strong>jQuery</strong>, <strong>Ruby</strong>, and <strong>Ruby on Rails</strong>. We had exposure to, and worked with, Javascript frameworks <strong>Mithril</strong> and <strong>React</strong>. We also made use of <strong>Sinatra</strong> and CSS frameworks <strong>Bootstrap</strong> and <strong>Foundation</strong>.
  </p> 
  <p>
    I am seeking an opportunity as a juinor level web developer. I am particularly interested in back-end development, especially with Rails, but also looking to gain experience and expand my knowledge in the front-end, and other back-end technologies. The MEAN stack and Meteor I find very interesting, and plan to explore those technologies on my own.
  </p>
  <p>
    I am a lifelong learner, and have taken recent courses on Python and MongoDB, as well as a variety of MOOCs for subjects I wanted to learn more about outside of software development. I am a subscriber to CodeSchool, and have an active profile you can see <%= link_to("here", "https://www.codeschool.com/users/Charles_Milam", target: "_blank") %>.
  </p>

</div>