 <h1>R&eacutesum&eacute</h1>
 <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="mdi-action-subject"></i>Summary of Qualifications</div>
      <div class="collapsible-body">
        <p>
          Fundamental knowledge of web application technologies, to include <strong>Ruby/RoR</strong>, <strong>HTML/CSS</strong>, <strong>Javascript/jQuery</strong>. Strong multi-tasking skills and attention to detail. Experience working on collaborative projects. 8+ years of programming experience (Visual Basic for Applications). Extensive experience in logistics/material handling, particularly as it pertains to high-tech manufacturing. Well versed in ISO 9000 documentation, LEAN manufacturing principles, JIT material management, continuous quality improvement principles, and all aspects of electronic and manual inventory management and control. 
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi-action-subject"></i>Experience</div>
      <div class="collapsible-body">
        <p>
          <strong>Software Developer</strong>:<br>
          <strong>MakerSquare - Tatalog - Capstone Individual Project</strong> - (Feb 2015) <br>
          <%= link_to("Github repository", "https://github.com/CharlesMilam/tatalog", target: "_blank") %> <br>
          Tatalog is a web application to aid an individual in organizing photos of their tattoos, with relevant information regarding each tattoo, as well as a providing for the categorization of ideas for future tattoos. Performed full-stack web development, utilizing Ruby on Rails. Employed  Foundation 5 CSS framework. Deployed application on Heroku. 
          <br><br>
          <strong>MakerSquare - Cliqr - Capstone Group Project</strong>  - (Jan 2015 - Feb 2015) <br>
          <%= link_to("Github repository", "https://github.com/bashmb/cliqr", target: "_blank") %> <br>
          The purpose of this project is to increase lecture interactivity and improve learning outcomes by breaking down instructor/student and student/student barriers to communication. Primary responsibilities as team member of the Cliqr project was the writing of all unit, functional and integration tests, Github documentation, in the form of a wiki, primary maintainer of project backlog and issues. Also wrote and implemented all database migrations pertaining to project. Performed a variety of project debugging tasks, on both the front-end and back-end.
          <br><br>
          <strong>User Systems Analyst:</strong><br>
          <strong>Applied Materials</strong> - (1994 - 2004)<br>
          Utilized MS Access to create a variety of rapidly developed and deployed database applications to support the materials and logistics organizations of the Physical Vapor Deposition division. Made extensive use of Visual Basic for Applications to provide functionality and features not available in a typical “out of the box” install of Access. <br>
          <span class="amat-hi"><strong>Highlights</strong>:</span><br>
          <span class="amat-hi">
            <strong>Production Status database application</strong>: Tracked the status of all systems in production on the manufacturing floor, to include key milestones and part shortages. Replaced a variety individual spreadsheets each project manager maintained, with a central repository for all production status information and common reporting structure.
          </span>
          <br>
          <span class="amat-hi">
            <strong>Virtual warehouse</strong>: Allowed for accurate storage, retrieval and tracking of manufacturing parts that were held in temporary storage locations that were not able to utilize the corporate ERP system due to constraints of that system. Utilized barcodes and scanners to increase accuracy and speed of data entry. This application greatly reduced misplacement of manufacturing parts located in temporary storage locations, as well as increased their retrieval time and delivery. Also provided visibility of these parts to other members of the organization.
          </span>
          <br>
          <span class="amat-hi">
            <strong>Obsolete and excess inventory</strong>: Provided for the reconciliation and disposition of obsolete and excess inventory against the corporate ERP system. Eliminated a very manual and paper-based process with one that automated many of the steps of the process, and greatly reduced data entry errors, as well as increasing the overall speed of the process. 
          </span>
          <br><br>
          <strong>Medic I</strong>:<br>
          <strong>Austin/Travis County EMS</strong> - (2012 - 2014) <br>
          Front-line medic on ambulance responding to 911 dispatched medical emergencies.<br> 
          Utilized established protocols to provide medical care in a high stress and time sensitive environment.<br>
          Worked in a collaborative environment that included a variety of first responder organizations to provide a high level of customer satisfaction.
          <br><br>
          <strong>Temporary Retirement/Dad</strong> - (2004 - 2012) <br>
          Took advantage of opportunity to devote time to the raising of my two daughters.<br>
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi-action-subject"></i>Education</div>
      <div class="collapsible-body">
        <p>
          <strong>MakerSquare</strong>, Austin, Texas - (Nov 2014 - Feb 2015)
          MakerSquare is a 3 month full-time career accelerator for software developers. By teaching computer science fundamentals and modern web technologies, MakerSquare prepares students to join the workforce as full-stack web developers.                                                                             
          <br><br>
          <strong>Austin Community College</strong>, Austin, Texas - (Spring 2012)      
          Associates of Science - Emergency Medical Services Professions        
          <br><br>
          <strong>Austin Community College</strong>, Austin, Texas - (Fall 1996)
          Associates of Arts - Communications
          <br><br>
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi-action-subject"></i>Side Projects</div>
      <div class="collapsible-body">
        <p>
          Lunar Lander - proof of concept project using python and the Kivy library for python. Kivy allows for the creation of standalone Android apps.
          github repo: https://github.com/HurtCircus/lander
          <br>

          ATX-MDG - A python based (using Kivy library) project to create an Android app to give paramedics easy and quick access to a drug list used in their clinical operating guidelines. Includes information such as dosages, indications for use, adverse reactions, &c.
          github repo: https://github.com/HurtCircus/ATX-MDG
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi-action-subject"></i>Activities</div>
      <div class="collapsible-body">
        <p>
          Member of board of directors of Central Texas Motorcycle Charities, a 501c3 non-profit organization, for 12+ years. Registration czar and lead for the Harvest Classic charity motorcycle rally supporting the Candlelighters Childhood Cancer Foundation for 12+ years.
          Volunteered 15+ years with Meals on Wheels in the Manor, TX area. 
          Served as parent representative on the board of Faith Lutheran Child Development Center 2000-2002.  
        </p>
      </div>
    </li>
    <li>
    <div class="collapsible-header"><i class="mdi-file-cloud-download"></i>Download Resume</div>
      <div class="collapsible-body">
        <p>

        </p>
      </div>
    </li>
  </ul>
