@import "palette";

// colors
$primary-color: $primaryColor;
$link-color: $darkPrimaryColor;

// navbar
$navbar-height: 70px;
$navbar-height-mobile: 70px;

// forms
$input-focus-color: $accentColor;
$input-border-color: $secondaryTextColor;
$label-font-size: 1.0rem;

// typography
$off-black: $primaryTextColor;