@import "materialize/sass/materialize";
@import "palette";

.nav-wrapper img {
  height: 100px;
  border-radius: 50px;
  margin-left: 15px;
  vertical-align: middle;
}

.dropdown-content {
  min-width: 200px;
}

#logo-name {
  font-size: 1.1rem;
  
  @media #{$large-and-up} {
    margin-left: 120px;
  }

  @media #{$medium-and-down} {
    display: none;
  }
}