@import "materialize/sass/materialize";
@import "palette";

.nav-wrapper img {
  height: 100px;
  border-radius: 50px;
  margin-left: 15px;
  vertical-align: middle;
}

.dropdown-content {
  min-width: 200px;
  li {
    & > a, & > span {
      display: block;
      padding: 1rem 1rem;
      color: $darkPrimaryColor;
    }
  }
}

